@model IEnumerable<Maple_Building_Management_App.Models.ComplaintModel>

@{
    ViewBag.Title = "View Complaints";
}

<h2>View Complaints</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>
                @Html.ActionLink("Details", "ComplaintDetails", new { id = item.Id })
                @{
                    if ((String)Session["UserType"] != "P") // Property Manager
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Edit", "EditComplaint", new { id = item.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "DeleteComplaint", new { id = item.Id })

                    }
                }
            </td>
        </tr>
    }

</table>

@if ((String)Session["UserType"] == "T")
{
    <a class="btn btn-primary right" onclick="location.href='@Url.Action("FileComplaint", "Complaint")'"> File Complaint</a>
}
