<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<img src="~/Images/MBM-Logo.png" alt="Logo"class="responsive"/>*@
                <img src="~/Images/Small_MBM-Logo.png" alt="Logo" class="responsive" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    [
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    ]
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    [
                    @if (Session["User"] != null)
                    {
                        if ((bool)Session["Admin"])
                        {
                            <li>@Html.ActionLink("View All Accounts", "ViewAccounts", "Home")</li>
                            <li>@Html.ActionLink("View All Complaints", "ViewAllComplaints", "Complaint")</li>
                        }
                        else if (Session["TenantID"] != null)
                        {
                            <li>@Html.ActionLink("File Complaint", "FileComplaint", "Complaint")</li>

                        }
                        if (!(bool)Session["Admin"])
                        {
                            <li>@Html.ActionLink("View My Complaints", "ViewComplaints", "Complaint")</li>
                            //<li>@Html.ActionLink("View Tenant Accounts", "ViewTenantAccount", "Home")</li>
                        }
                        <li>@Html.ActionLink("Manage Account", "Index", "Manage")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    ]
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maple Building Management Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
