<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <img src="~/Images/MBM-Logo2.png" />
    </div>
    <br />
    <div class="text-center">
        <a class="btn btn-primary" @Html.ActionLink("Home", "Index", "Home")</a>
        <a class="btn btn-primary" @Html.ActionLink("About", "About", "Home")</a>
        <a class="btn btn-primary" @Html.ActionLink("Contact", "Contact", "Home")</a>

        <a class="btn btn-primary" @Html.ActionLink("Register", "Register", "Home")</a>

        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary" @Html.ActionLink("Login", "Login", "Home")></a>
        }
        else
        {
            <a class="btn btn-primary" @Html.ActionLink("Logout", "Logout", "Home")> @User.Identity.Name</a>
        }
    </div>
    <br />

    <div class="text-center">
        @RenderBody()
    </div>
    <div class="text-center">
        <footer>
            <p>&copy; @DateTime.Now.Year - Maple Building Management Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
