@model Maple_Building_Management_App.Models.AccountModel

@{
    ViewBag.Title = "Login Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <img src="~/Images/houstonbanner.png" />
    <div class="form-horizontal">
        <h4>Login for Tenants and Property Managers</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*<div class="container">
    <form>
        <h2>Login Here</h2>
        <div class="form-group">
            <label asp-for="UserName" class="control-label col-sm-3">User Name:</label>
            <input class="form-control" asp-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label col-sm-3">Password</label>
            <input class="form-control" asp-for="password" />
        </div>
        <div class=" form-group">
                <button class="btn btn-lg btn-block btn-primary" onclick="location.href='@Url.Action("MainPage")'">Login</button>
            </div>
    </form>
</div>*@

